carbon:
  bind: "127.0.0.0"
  port: 2003
  rollups:
    - 60s:5356800s
    - 900s:62208000s
  aggregatorDelay: 90
  aggregateBaseRollup: false
store:
  cluster:
    - "cassandra-1"
    - "cassandra-2"
  port: 9042
  userName: 'username'
  userPassword: 'password'
  keyspace: 'metric'
  columnFamily: 'metric'
  maxConnections: 2048
  readTimeout: 10
  connectTimeout: 10
  maxRequests: 128
  batch: true
  batchSize: 500
  pool: 2
  loadBalancingPolicyName: 'TokenDcAwareRoundRobinPolicy'
  protocolVersion: "V2"
index:
  name: "disthene"
  cluster:
    - "es-1"
    - "es-2"
  port: 9300
  index: "disthene"
  type: "path"
  cache: true
  expire: 3600
  bulk:
    actions: 10000
    interval: 5
stats:
  interval: 60
  tenant: "test"
  hostname: "disthene-1a"
  log: true
