Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends:
Recommends: oracle-java-7 | oracle-java-8
Description: Alternative storage backend for graphite, backed by cassandra
Maintainer: Andrei Ivanov