Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.7)
Description: Alternative storage backend for graphite, backed by cassandra
Maintainer: Andrei Ivanov